/* navbar toggler icon */
.custom-toggler.navbar-toggler {
    border-color: #198754;
}
button:focus:not(:focus-visible){
    color: #198754;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(25, 135, 84, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-pills .nav-link.active{
    text-decoration: underline;
        font-weight: bold;
        color: green;
}
.navigation a{
    color: green;
    &:hover, &:focus, &:active{
        text-decoration: underline;
        font-weight: bold;
        color: green;
    }
}

/* sections title */
.title{
    color: green;
}

/* hero section */
.hero-sec{
    background: linear-gradient(-45deg, #88d399, #7fd5b6, #75da8b, #72B199);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-bottom-right-radius:150px;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.hero{
    align-items: center;
    justify-content: space-around;
}

/* hero section and about section images */
img{
    height: 300px;
}

/* about me subtitle */
.subtitle{
    align-items: center;
    justify-content: space-between;
}

/* services section's cards */
.card .icon{
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 32px;
    border-radius: 50%;
    background-color: rgba(25, 135, 84, 0.15);
}
.card .icon img{
    align-items: center;
    width: 50%;
    height: 50%;
}

/* skills iocns */
.skill-icons .icon i{
    color: green;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 60px;
    border-radius: 50%;
    background-color: rgba(25, 135, 84, 0.15);
}
.skill-icons .icon img{
    height: 8rem;
    width: 8rem;
}

/* qualifications timeline */
.timeline {
    position: relative;
    display: block;
    list-style: none;
    padding-left: 0;
    width: 100%;
}
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 2px;
    height: 95%;
    background-color: #e3e5e9;
}
.timeline li {
    position: relative;
    display: block;
    padding-left: 30px;
    margin-bottom: 20px;
}
.timeline li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -8px;
    width: 18px;
    height: 18px;
    background-color: #198754;
    box-shadow: 0 0 0 2px #198754;
    border: 3px solid #fff;
    border-radius: 50%;
}
.timeline li .details {
    background-color: #f4f5f8;
    margin-top: 8px;
    padding: 20px;
    border-radius: 4px;
}
.timeline li .title {
    width: 250px;
    padding: 6px 20px;
    background-color: #198754;
    color: #fff;
    font-weight: 500;
    border-radius: 30px 0 60px 30px;
    animation-name: timeline;
    animation-duration: 4s;
}
/* timeline's animation */
@keyframes timeline{
    from {width: 50px; font-size: 0px; background-color: rgba(25, 135, 84, 0.15);}
    to {width: 250px; font-size: medium;background-color: #198754;}
}

/* recent work section */
.portfolio{
    height: 22rem;
}
.portfolio a{
    position: relative;
    text-decoration: none;
}
.portfolio img{
    width: 14rem;
    height: 14rem;
    border-radius: 25%;
    opacity: 1;
    border: 1px solid black;
    transition: opacity 2s, width 2s, height 2s;
}
.portfolio a::after{
    text-align: center;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    color: white;
    position:absolute;
    background-color:#506f61;
    left: 0;
    bottom:-80px;
    opacity: 0;
    width: 100%;
    transition: opacity 2s, bottom 2s;
    padding: 8px;
}
.portfolio a.project1::after{
    content: "Ciné App";
}
.portfolio a.project2::after{
    content: "ShopEe";
}
.portfolio a.project3::after{
    content: "HU Map";
}
.portfolio a.project4::after{
    content: "Comming Soon";
}
.portfolio img:hover{
    box-shadow: 1px 1px 8px 8px #506f61;
    width: 18rem;
    height: 18rem;
}
.portfolio a:hover::after{
    /* top: 0; */
    bottom: -12px;
    opacity: 1;
}

/* contact section */
.contact .info i{
    font-size: 20px;
    color: #198754;
    float: left;
    width: 44px;
    height: 44px;
    background: rgba(25, 135, 84, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out 0s;
}
.contact .info a{
    text-decoration: none;
    color: black;
}





